body {
font-family: cursive;
}

.photo {
background-image: url("photo.jpg");
height: 500px;
background-size: cover;
width: 100%;
margin-top: 120px;
}

.logo {
  margin-left: 100px;
  margin-top: 50px;
  font-size: 200%;
}

.logo1 {
font-size: 120%;
margin-left: 100px;
}

ul {
text-align: center;
list-style: none;
margin-left: 70px;
float:right;
position: relative;
bottom: 50px;
}

header li {
  text-align: center;
   padding-top: 15px;
   display: inline;
   margin-right: 40px;
}

ul a {
  text-decoration:none;
  color: #606060;
}

.volontaire {
  float: right;
  border-style: solid;
  border-color: #24a97d;
  border-radius: 5px;
  padding-right: 30px;
  padding-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.volontaire a {
  color: #24a97d;
}

.blocimg {
position: relative;
top: 50px;
left: 80px;
width: 400px;
height: 400px;
float: left;
background-color: white;
}

.featured {
  margin-top: 20px;
  margin-left: 20px;
  height: 20px;
  width: 95px;
  color: white;
  font-weight: bold;
  border-style: solid;
  border-color: #606060;
  background-color: #606060;
  border-radius: 3px;
}

.days {
  float:right;
  margin-right: 20px;
  color: #8FA19A;
}

.education {
  text-align: center;
  font-size: 150%;
}
